<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{% block title %}{% endblock %}</title>
	<style>
		.t_group {
			background-color: #ccc;
			width: 60%;
		}
		.t_group tr {
			background-color: #fff;
			height: 50px;
			font: 18px/23px Arial, Helvetica, sans-serif;
			color:black;
		}

		</style>
</head>
<body>
	{% block context %} {% endblock %}
</body>
</html>
