{% extends "base.html" %}
{% block context %}
<li><a href='/login'>Login</a></li>
<li><a href='/logout'>Logout</a></li>
<li><a href='/registration'>Registration</a></li>
<h1 align = "center">Список Групп</h1>
<table border = "0" cellspacing = "1" align = "center" class = "t_group">
	<tr>
		<th> Name </th> 
		<th> Captain </th>
		
	</tr>
	{% for group in g_list %}
	<tr align = "center">		
		<td>
			<a href = "/group/{{group.id}}">{{ group.name }}</a>
		</td>
		<td>
			{{ group.captain }}
		</td>

		
	</tr>
	{% endfor %}
</table>





	
{% endblock %}
